@import '../../css/settings.less';
.page-newpost{
	padding-top: 20px;
	padding-bottom: 100px;
	.new-post{
		width: 832px;
		margin: 0 auto;
	}
	.input-tit{
		width: 640px;
		font-size: 16px;
		height: 36px;
		line-height: 36px;
	}
	.input-tags{
		width: 414px;
	}
	.post-category{
		margin-top: 10px;
		select{
			margin-right: 10px;
			padding: 2px;
			border: 1px solid #ddd;
		}
	}
	.post-content{
		margin-top: 10px;
	}
	.post-ui{
		.ui-cancel{
			float: right;
		}
		.ui-post{
			float: left;
		}
		.green{
			color: #fff;
			margin-right: 10px;
		}
		.gray{
			margin-right: 10px;
		}
		.tips{
			line-height: 2;
		}
	}
}