.c-l{
	width: 680px;
	padding-top: 20px;
	.c-l-ul{
		.c-l-li{
			position: relative;
			line-height: 24px;
			text-align: left;
			.title{
				max-width: 480px;
				padding-bottom: 5px;
				
				a{
					display: inline-block;
					vertical-align: middle;
					max-width: 100%;
					overflow: hidden;
					font-weight: bold;
					white-space: nowrap;
					font-size: 16px;
					text-overflow: ellipsis;
				}
			}
			.total{
				position: absolute;
				right: 15px;
				top: 15px;
				color: #999;
			}
			.fontr{
				text-align: right;
			}
		}
	}
}
.c-r{
	width: 300px;
	padding-top: 20px;
}






.more{ text-align: center;}
.more a{ font-size: 16px;}
/*class*/
.c-r-class{ padding: 10px 15px;}
.c-r-class .tit{ margin-bottom: 5px; font-weight: bold; font-size: 16px; color: #3b9c15; display: inline-block; border-bottom: 2px solid #3b9c15;}
.class-ul,
.water-ul{ margin-bottom: 15px;}
.class-ul li,
.water-ul li{ padding: 8px 0 2px; position: relative; border-bottom: 1px solid #efefef;}
.class-total{ position: absolute; right: 0; top: 10px; width: 40px; height: 22px; text-align: center; text-overflow: ellipsis;}

/*活动*/
.tips{ text-align: center; padding: 40px; font-size: 16px;}
.tips h2{ font-size: 24px; font-weight: normal;}
