@import '../../css/settings.less';

.page-index{
	padding-top: 20px;
	padding-bottom: 50px;
	.artical{
		float: left;
		width: 680px;
		.item{
			position: relative;
			margin-bottom: 20px;
			line-height: 24px;
			text-align: left;
			.title{
				max-width: 520px;
				padding-bottom: 5px;
				a{
					display: inline-block;
					vertical-align: middle;
					max-width: 100%;
					overflow: hidden;
					font-weight: bold;
					white-space: nowrap;
					font-size: 16px;
					text-overflow: ellipsis;
				}
			}
			.total{
				position: absolute;
				right: 15px;
				top: 12px;
				color: @color-font-sub;
				.tag{
					margin-left: 10px;
				}
			}
			.box-foot{
				text-align: right;
				line-height: 1.2;
				>span,>a{
					line-height: 1.2;
				}
			}
		}
	}
	.right{
		float: right;
		width: 300px;
		.water{
			padding: 10px 15px;
		}
	}
	
	.more{
		text-align: center;
		a{
			font-size: 16px;
		}
	}
}
