.page-userlist{
	padding-top: 20px;
	.userlist .item span{ display: inline-block; vertical-align: top; width: 280px; line-height: 32px;}
	.userlist .item{ padding: 10px 15px;}
	.userlist .item button{ margin-top: 2px;}
	.u-power select{ color: #333; background: #f9f9f9; border: 1px solid #ddd; font: normal 14px/1.5 'Consolas', 'Microsoft Yahei', '黑体', '宋体'; padding: 2px;}
}