@import '../../css/settings.less';
.page-category{
	padding-top: 20px;
	padding-bottom: 50px;
	.artical-li{
		position: relative;
		margin-bottom: 20px;
		line-height: 24px;
		.title{
			padding-bottom: 5px;
			a{
				font-weight: bold;
				width: 420px;
				white-space: nowrap;
				font-size: 16px;
				display: inline-block;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
		.total{
			position: absolute;
			right: 15px;
			top: 10px;
			color: @color-font-sub;
			.tag{
				margin-left: 10px;
			}
		}
		.box-foot{
			margin-top: 5px;
			line-height: 1.2;
			text-align: right;
			a,
			span{
				line-height: 1.2;
			}
		}
	}
}
