/*富文本编辑器样式*/
#zEditor{
	position: relative;
	padding: 5px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}
#zEditor img{
	max-width: 100%;
}
#zEditor .workplace{
	line-height: 24px;
	height: 359px;
}
#zEditor .z-tools{
	position: absolute;
	overflow: hidden;
	left: -30px;
	top: 0;
	width: 22px;
	height: 22px;
	padding: 2px;
	display: none;
}
#zEditor .active{
	width: 176px;
}
#zEditor .z-tools span{
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	line-height: 18px;
	text-align: center;
	font-size: 24px;
	border: 1px solid #469129;
	color: #469129;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease 0;
	-moz-transition: all 0.2s ease 0;
}
#zEditor .z-tools .z-code,
#zEditor .z-tools .z-img{
	font-size: 14px;
	width: 60px;
	color: #fff;
	background: #55b131;
	opacity: 0.6;
	-webkit-transform: scale(0.6);
}
#zEditor .z-tools .z-switch{
	opacity: 0.4;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
}
#zEditor .z-tools .z-switch:hover{
	opacity: 1;
}
#zEditor .active .z-switch{
	opacity: 1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
#zEditor .active .z-code,
#zEditor .active .z-img{
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
}