.page-postlist{
	padding-top: 20px;
	.postlist .item{ padding: 10px 15px;}
	.postlist .item span{ overflow: hidden; display: inline-block; vertical-align: top; line-height: 32px; height: 32px; text-overflow: ellipsis;}
	.postlist .item span.u-name{ width: 555px;}
	.postlist .item span.a-name{ width: 200px;}
	.del-btn button{ margin-top: 2px;}
	.u-power select{ color: #333; background: #f9f9f9; border: 1px solid #ddd; font: normal 14px/1.5 'Consolas', 'Microsoft Yahei', '黑体', '宋体'; padding: 2px;}
}