@import '../../css/settings.less';
.page-water{
	padding-top: 30px;
	padding-bottom: 50px;
	.water-ul{
		margin-bottom: 15px;
		li{
			padding: 15px 0;
			position: relative;
			border-bottom: 1px solid #efefef;
		}
		.w-avatar{
			float: left;
			width: 60px;
			height: 60px;
			margin-right: 15px;
			border-radius: 15px;
			background-image: url(../../img/img.jpg);
			background-position: center center;
			background-size: cover;
			box-shadow: 0 0 10px #dfdfdf;
		}
		.w-info{
			float: left;
			width: 925px;
			padding-top: 3px;
		}
		.w-name{
			color: @color-link;
			a{
				color: @color-link;
			}
		}
		.w-text{
			display: inline;
			color: @color-font;
		}
		.w-date{
			display: block;
			margin-top: 16px;
			color: @color-font-sub;
			font-size: 12px;
		}
	}
	.reset-cursor{
		cursor: default;
	}
}